<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/test2.js"></script>

    <title>Register</title>
</head>

<body>
    <%- include('../partials/navbar') %>
        <h1>Register Driver</h1>

        <form action="/registerdriver" method="POST">

            <div>
                <label for="drUsername">Username</label>
                <input type="text" id="drUsername" name="newDriver[username]" required>
            </div>
            <div>
                <label for="drPassword">Password</label>
                <input type="password" name="newDriver[password]" id="drPassword" required>
            </div>

            <h2>Driver Details</h2>
            <div>
                <label for="drEmail">Email</label>
                <input type="email" name="newDriver[email]" id="drEmail" required>
            </div>

            <div>
                <label for="drName">Name</label>
                <input type="text" id="drName" name="newDriver[name]" required>
            </div>

            <div>
                <label for="drAge">Age</label>
                <input type="number" id="drAge" name="newDriver[age]" required>
            </div>
            <div>
                <label for="truckNo">Truck Number</label>
                <input type="text" id="truckNo" name="newDriver[truckNo]" required>
            </div>
            <div>
                <label for="drMobNo">Mobile Number</label>
                <input type="text" id="drMobNo" name="newDriver[mobileNo]" required>
            </div>
            <div>
                <label for="truckCap">Truck Capacity</label>
                <input type="text" id="truckCap" name="newDriver[truckCap]" required>
            </div>

            <div>
                <label for="transporterName">Transporter Name</label>
                <input type="text" id="transporterName" name="newDriver[transporterName]" required>
            </div>

            <h3>Interested Routes</h3>
            <div class="row">
                <h4>Route1</h4>
                <div class="col-sm-4">
                    <h5>From</h5>
                    <p>State</p>
                    <select onchange="print_city('state1', this.selectedIndex);" id="sts1" name="newDriver[from1state]"
                        class="form-control" required></select>

                    <p>City</p>
                    <select id="state1" class="form-control" name="newDriver[from1city]" required></select>
                </div>
                <div class="col-sm-4">
                    <h5>To</h5>
                    <p>State</p>
                    <select onchange="print_city('tostate1', this.selectedIndex);" id="tosts1"
                        name="newDriver[to1state]" class="form-control" required></select>

                    <p>City</p>
                    <select id="tostate1" class="form-control" name="newDriver[to1city]" required></select>
                </div>
                <h4>Route2</h4>
                <div class="col-sm-4">
                    <h5>From</h5>
                    <p>State</p>
                    <select onchange="print_city('state2', this.selectedIndex);" id="sts2" name="newDriver[from2state]"
                        class="form-control" required></select>

                    <p>City</p>
                    <select id="state2" class="form-control" name="newDriver[from2city]" required></select>
                </div>

                <div class="col-sm-4">
                    <h5>To</h5>
                    <p>State</p>
                    <select onchange="print_city('tostate2', this.selectedIndex);" id="tosts2"
                        name="newDriver[to2state]" class="form-control" required></select>

                    <p>City</p>
                    <select id="tostate2" class="form-control" name="newDriver[to2city]" required></select>
                </div>

                <h4>Route3</h4>
                <div class="col-sm-4">
                    <h5>From</h5>
                    <p>State</p>
                    <select onchange="print_city('state3', this.selectedIndex);" id="sts3" name="newDriver[from3state]"
                        class="form-control" required></select>

                    <p>City</p>
                    <select id="state3" class="form-control" name="newDriver[from3city]" required></select>
                </div>

                <div class="col-sm-4">
                    <h5>To</h5>
                    <p>State</p>
                    <select onchange="print_city('tostate3', this.selectedIndex);" id="tosts3"
                        name="newDriver[to3state]" class="form-control" required></select>

                    <p>City</p>
                    <select id="tostate3" class="form-control" name="newDriver[to3city]" required></select>
                </div>
            </div>

            <div class="buttons">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-danger" type="reset">Reset</button>
            </div>

        </form>
        <script language="javascript">print_state("sts1");</script>
        <script language="javascript">print_state("tosts1");</script>
        <script language="javascript">print_state("sts2");</script>
        <script language="javascript">print_state("tosts2");</script>
        <script language="javascript">print_state("sts3");</script>
        <script language="javascript">print_state("tosts3");</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>